###############################################
# FASTAPI / API
###############################################
fastapi==0.115.3
uvicorn[standard]==0.30.6
python-multipart==0.0.9

###############################################
# Pydantic
###############################################
pydantic==2.9.2
pydantic[email]==2.9.2

###############################################
# Banco de Dados
###############################################
SQLAlchemy==2.0.36
psycopg2-binary==2.9.9

###############################################
# Segurança / Autenticação
###############################################
bcrypt==4.2.1
PyJWT==2.9.0

###############################################
# LLM Providers (OpenAI, Azure, Groq, Ollama etc.)
###############################################
openai==1.45.0
requests==2.32.3

###############################################
# LangChain para RAG
###############################################
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.30

###############################################
# ChromaDB (Vector Store)
###############################################
chromadb==0.5.4

###############################################
# Embeddings para RAG
###############################################
sentence-transformers==3.0.1
torch==2.2.2

###############################################
# Etc
###############################################
python-dotenv==1.0.1
cachetools==5.4.0
loguru==0.7.2
